*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
}
header{
  height: 200px;
  width: 100%;
  background-color: #029DBF;
}
header img{
  height: 150px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.col-6{
    position: relative;
    margin: auto;
}
.titulo{
font-size: xx-large;
font-weight: bold;
}
.pedirDatos{
  font-weight: bold;
  font-size: medium;
}
.form-control, input{
  background-color: #F6FEFF;
  border:1px solid #029DBF;
}
footer{
  bottom: 0;
  width: 100%;
  background-color: #029DBF;
  color: #fff;
  height: 100px;
}
footer p{
  margin: 0 auto;
}
@media (max-width: 992px){
  header{
    height: 100px;
  }
  header img{
    height: 80px;
  }
}
