<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

  <head>
    <title>Consultar Clientes | Cyber Medical Pet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CSS PRINCIPAL (HEADER Y FOOTER) -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg mb-5">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/img/logo-horizontal.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <label class="pedirDatos">Ingresa el id del Cliente</label>
          <form action="" method="post">
            <input class="pedirDatos w-75" name="id">
            </input>
            <input type="submit" value="BUSCAR" class="btn btn-info">
          </form>
        </div>
        <div class="col-12">
          <table class="table table-striped" >
            <div class="text-white col-lg-8 mx-auto " >
              <p class="text-white">LISTADO DE AUTORES<p>
              <thead style="background-color: #029DBF; color: #fff">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Mascotas</th>
                  <th scope="col">Seleccionar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!-- CLIENTE DE PRUEBA, BORRAR UNA VEZ EDITADO -->
                  <td>1</td>
                  <td>Juanita</td>
                  <td>Panchito, Peluza</td>
                  <td>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input">
                    </div>
                  </td>
                </tr>
              </tbody>
            </div>
          </table>
        </div>
        <div class="col-12 buttons">
          <a href="#" class="btn btn-send mt-4 mb-3">Continuar</a>
        </div>
        <div class="col-12 text-center buttons mt-4">
          <a href="index.html" class="btn btn-back mt-4 mb-3">Inicio</a>
        </div>
      </div>
    </div>
    <footer class="d-flex align-items-center mt-5">
      <p>Copyright@Cyber Medical Pet</p>
    </footer>
  </body>

</html>