<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>CrearConsulta | Cyber Medical Pet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CSS PRINCIPAL (HEADER Y FOOTER) -->
    <link rel="stylesheet" type="text/css" href="./../static/css/styles.css">

    <!-- CSS LOCAL -->

</head>

<body>

    <header class="d-flex align-items-center">
        <img src="./../static/img/logo-blanco.png">
    </header>
    <div style="text-align: center">
        <h3 class="titulo mt-4" style="margin-top: 20px;">Ingresá la consulta</h3>
        <h5 style="margin-top: 20px;">Completá los campos requeridos para registrar la consulta</h5>
    </div>
    <div class="mt-4 ml-3">
        <div class="row">
            <div class="form-group col-6">
                <label class="pedirDatos">Documento del Cliente</label>
                
                
                
                   <form action="/veterinario/buscarCliente" method="post">
                    
                    <input class="pedirDatos" name="documento">
                        <!--<option th:each="clientes : ${clientes}" th:value="${clientes.documento}" th:text="${clientes.documento}"></option>-->
                    </input>
                    <input type="submit" value="BUSCAR" class="btn btn-info" href="crearConsulta.html">
                </form>
                
                <form action="/veterinario/crear_consulta" method="post">
                                    
                    
                    <label class="pedirDatos">Valor de la consulta</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" name="precio" required>
                    </div>
                    <label class="pedirDatos">Matricula del Veterinario</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="matriculaVeterinario" required>

                    </div>                    
            </div>

                    </div>
                    
                    </div>


            <div class="form-group col-6">
                <label>Mascota</label>
                <div>
                    <select class="pedirDatos" name="nombreMascota" >
                        <option th:each="mascotas : ${mascotas}" th:value="${mascotas.nombre}" th:text="${mascotas.nombre}"></option>
                    </select>
                </div>
                
                <label class="pedirDatos">Peso de la mascota</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="peso" required>
                </div>
                <label class="pedirDatos">Motivo de la consulta</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="motivo" required>
                </div>

            </div>
            <div class="col-12">            
                <label class="pedirDatos">Observaciones</label>
                <div class="input-group mb-3">
                    <textarea class="form-control" name="observaciones" rows="4" cols="40"
                        placeholder="Ingrese descripción de la consulta..."></textarea>
                </div>
            </div>

            <div class="col-12 boton">    
                <input type="submit" value="REGISTRAR CONSULTA" class="btn btn-primary boton">   
           </div>
            
        </div>


       </form>
       <div class="col-12">
        <a href="/templates/index.html" class="btn btn-secondary boton mt-4 mb-3">Inicio</a>
     </div>

    </div>

    <footer class="d-flex align-items-center">
        <p>Copyright@Cyber Medical Pet</p>
    </footer>
</body>

</html>