<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inicio | Cyber Medical Pet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- CSS PRINCIPAL (HEADER Y FOOTER) -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- CSS LOCAL -->

</head>
<body>
  <header class="d-flex align-items-center">
    <img src="/img/logo-blanco.png">
  </header>

<strong><p align="center"></p></strong>


<form action="/" method="post" class="text-center">
<fieldset>
<legend><strong><p align="center">ELIMINAR VETERINARIO</p></strong></legend>
<strong>Ingrese la Matricula del Veterinario para ser eliminado</strong><br/>
<p><input type="text" name="matricula" required size="40"/></p>
<br/>
<input type="submit" value="Enviar Datos" />
<input type="reset" value="Borrar">
</legend>
</form>
<img align="center" src="/img/eliminar.png" alt="a cup " width="100" height="100" />

</section>
  <footer class="d-flex align-items-center">
    <p>Copyright</p>
  </footer>

</body>
</html>