<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

  <head>
    <title>Eliminar Veterinario | Cyber Medical Pet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CSS PRINCIPAL (HEADER Y FOOTER) -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg mb-5">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/img/logo-horizontal.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <form action="/" method="post" class="text-center">
        <h3 class="w-100 text-center mb-3">ELIMINAR VETERINARIO</h3>
        <label for="matricula">Ingrese la Matricula del Veterinario para ser eliminado</label>
        <input class="d-block ml-auto mr-auto mb-4" type="text" name="matricula" required size="40"/>
        <div class="buttons">
          <button class="btn-send" type="submit">Enviar Datos</button>
          <button class="btn-delete" type="reset">Borrar
            <img src="/img/eliminar.png" alt="a cup " width="30" height="30" />
          </button>
        </div>
      </form>
    </div>
    <footer class="d-flex align-items-center mt-5">
      <p>Copyright@Cyber Medical Pet</p>
    </footer>
  </body>
</html>