<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <h1>Cyber Medical Pet</h1>
                        <br>
                            <h3> Ingresá con tu usuario! </h3>
                            <section> 
                                
                                <form action="/logincheck" method="POST">
                                    <div class="form-group" >
                                        <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                                        <p th:if="${logout != null}" th:text="${logout}" style="color:green"></p>
                                        
                                     <label>Decinos tu email</label>    
                                      <input type="email" id="m" class="form-control" name="email" required placeholder="ejemplo@gmail.com">
                                        <small id="emailHelp" class="form-text text-muted">No compartiremos tu mail con nadie más! .</small>
                                                                   
                                    <label for="contraseña">Contraseña</label>
                                    <input type="password" class="form-control" id="clave1" name="clave1">
                                    <small id="claveHelp" class="form-text text-muted">Mínimo 6 caracteres, 1 MAYÚSCULA y 1 número! .</small>
                                                                       
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Recordar mi email</label>
                                   
                                    </div>
                                     <button type="submit" class="btn btn-primary">Ingresar</button>
                                 </div> 

                                </form>

    </body>
</html>
