<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

  <head>
    <title>Iniciar sesion | Cyber Medical Pet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CSS PRINCIPAL (HEADER Y FOOTER) -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg mb-5">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/img/logo-horizontal.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>Cyber Medical Pet</h1>
      <h3 class="mt-4"> Ingresá con tu usuario! </h3>
      <form action="/logincheck" method="POST">
        <div class="form-group">
          <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
          <p th:if="${logout != null}" th:text="${logout}" style="color:green"></p>
          <label>Decinos tu email</label>    
          <input type="text" id="m" class="form-control" name="emailmatricula" required placeholder="ejemplo@gmail.com">
          <small id="emailHelp" class="form-text text-muted">No compartiremos tu mail con nadie más! .</small>
          <label for="contraseña">Contraseña</label>
          <input type="password" class="form-control" id="clave1" name="clave1">
          <small id="claveHelp" class="form-text text-muted">Mínimo 6 caracteres, 1 MAYÚSCULA y 1 número! .</small>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordar mi email</label>
          </div>
          <div class="buttons">
            <button type="submit" class="btn btn-send">Ingresar</button>
          </div>
        </div> 
      </form>
    </div>
      <footer class="d-flex align-items-center mt-5">
        <p>Copyright@Cyber Medical Pet</p>
      </footer>
  </body>
</html>
