<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Opciones Veterinario | Cyber Medical Pet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CSS PRINCIPAL (HEADER Y FOOTER) -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
</head>

<body>
  <nav class="navbar navbar-expand-lg mb-5">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img src="/img/logo-horizontal.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <strong><p align="center">Por favor seleccione una opcion como Veterninario</p></strong>


    <td>
      <p align="center"><a title="boton_7" href="veterinario/crearConsulta"><input align="center" type="image" name="boton_7" src="/img/boton_7.jpg" alt="Enviar formulario"></a></p>
    
    
      <p align="center"><a title="botonprue_8" href="veterinario.html"><input align="center" type="image" name="boton_8" src="/img/boton_8.jpg" alt="Enviar formulario"></a></p>
    
    
      <p align="center"><a title="boton_9" href="veterinario.html"><input align="center" type="image" name="boton_9" src="/img/boton_9.jpg" alt="Enviar formulario"></a></p>
    
    
      <p align="center"><a title="boton_10" href="veterinario.html"><input align="center" type="image" name="boton_10" src="/img/boton_10.jpg" alt="Enviar formulario"></a></p>
    

    <footer class="d-flex align-items-center mt-5">
      <p>Copyright</p>
    </footer>
  </body>
</html>