<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
  <title>Inicio | Cyber Medical Pet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- CSS PRINCIPAL (HEADER Y FOOTER) -->
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <!-- CSS LOCAL -->

</head>
<body>
  <header class="d-flex align-items-center">
    <img src="/img/logo-blanco.png">
  </header>

<strong><p align="center">Por favor seleccione una opcion como Cliente</p></strong>
<td><form method="get" action="/mascota">
<p align="center"><input align="center" type="image" name="botondeenvio" src="/img/boton_2.jpg" alt="Enviar formulario"></p>
</form>
<form method="get" action="/page2">
<p align="center"><input align="center" type="image" name="botondeenvio" src="/img/boton_3.jpg" alt="Enviar formulario"></p>
</form>
<form method="get" action="/page2">
<p align="center"><input align="center" type="image" name="botondeenvio" src="/img/boton_4.jpg" alt="Enviar formulario"></p>
</form>
<form method="get" action="/page2">
<p align="center"><input align="center" type="image" name="botondeenvio" src="/img/boton_5.jpg" alt="Enviar formulario"></p>
</form>
<form method="get" action="/page2">
<p align="center"><input align="center" type="image" name="botondeenvio" src="/img/boton_6.jpg" alt="Enviar formulario"></p>
</form>

</section>
  <footer class="d-flex align-items-center">
    <p>Copyright</p>
  </footer>

</body>
</html>