<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <main role="main">

                                <!-- Main jumbotron for a primary marketing message or call to action -->
                                <div class="jumbotron">
                                    <div class="container">
                                        <h1 class="display-3">Mascotas!</h1>
                                        <h2 class="display-4" > Bienvenido a un mundo de posibilidades!  </h2>
                                        <h2 th:text ="${'Hola ' + session.usuariosession.nombre + ' !!!'}"></h2>
                                   
                                    </div>
                                    
                                </div> 
    </body>
</html>
