<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Saber Más | Cyber Medical Pet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CSS PRINCIPAL (HEADER Y FOOTER) -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg mb-5">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img src="/img/logo-horizontal.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container informacion">
    <div class="row">
      <div class="col-6">
        <img src="/img/vet.png">
      </div>
      <div class="col-6 pl-5">
        <h2>¿Qué es Cyber Medical Pet?</h2>
        <p>Se trata de una plataforma donde podrás encontrar un listado de veterinarios disponibles en tu zona para darle la mejor atención a tu mascota y acordar una cita con ellos. ¡También podrás tener el seguimiento clínico de tu mejor amigo felino o perruno!</p>
      </div>
      <div class="col-6 mt-4 text-right pr-5">
        <h2>¿En qué zona operamos?</h2>
        <p>¡Podés inscribirte desde cualquier rincón de Latinoamérica! Tenemos inscriptos a los mejores veterinarios dispuestos a brindarle cuidado a tu mascota. Acordá una cita con ellos.</p>
      </div>
      <div class="col-6 mt-4">
        <img src="/img/botiquin.png">
      </div>
      <div class="col-6 mt-4">
        <img src="/img/salud.png">
      </div>
      <div class="col-6 mt-4 pl-5">
        <h2>¿Por qué loguearme en Cyber Medical Pet?</h2>
        <p>Estamos seguros que si amas a tu mascota vas a querer formar parte de nuestro proyecto. El amor por nuestros animales es único e inigualable. ¡Esperamos que puedas sumarte!</p>
      </div>
      <div class="col-12">
        <a href="index.html" class="btn btn-presentacion d-block mr-auto ml-auto mt-3">Registrate gratis y conoce nuestra app...</a>
      </div>
    </div>
  </div>
  <footer class="d-flex align-items-center mt-5">
    <p>Copyright@Cyber Medical Pet</p>
  </footer>
</body>